body{
    background-color: antiquewhite;
}

.container {
    max-width: 800px;
    margin: auto;
    margin-top: 10vh;
    background-color: #4f95ff;
    padding: 3%;
    text-align: center;
}

header{
    color: #222121;
    
}
.info{
    display: none;
}

header h2{
    font-size: 40px;
    margin: 0;
}

.text{
    line-height: 1.5em;
    font-size: 1.2em;
}

hr.only{
    color: #000;
}

p.user {
    margin: 0;
    font-size: 1.2em;
}

form{
    margin: 10px;
}
input{
    padding: 5px;

}